<h1>{{ site.Title }}</h1>
{{ partial "menu.html" (dict "menuID" "main" "page" .) }}
<link href="/pagefind/pagefind-modular-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-modular-ui.js" type="text/javascript"></script>
<div id="search"></div>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    const instance = new PagefindModularUI.Instance();
    instance.add(new PagefindModularUI.Input({
      containerElement: "#search",
      resetStyles: true,
    }));
    instance.add(new PagefindModularUI.ResultList({
      containerElement: "#results"
    }));
  });
</script>